/* Navbar styles for both desktop and mobile */
.navbar {
    color: #fff;
    width: 100%;
    transition: width 0.3s;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav-link {
    padding-top: 1%;
    color: #fff;
    text-decoration: none;
    margin: 0 5%;
    font-size: 1.5rem;
    transition: color 0.3s;
    position: relative;
}

.subdivision-links {
    position: absolute;
    z-index: 100;
}

/* Navigation links */
.navbar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

/* Hover effect for navigation links */
.nav-link a:hover {
    color: #0a0194;
}

/* Style for the Projects subdivision header */
.subdivision-header {
    cursor: pointer;
    z-index: 1000;
    text-align: center;
    transition: color 0.3s;
}

/* Hover effect for the Projects subdivision header */
.subdivision-header:hover {
    color: #0a0194;
}
.menu-icon{
    color: white;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.menu-icon:hover{
    color: #0a0194;
}
.close-icon{
    color: white;
    margin-top: 10%;
    font-size: 3rem;
    transition: color 0.3s;
}
.close-icon:hover{
    color: #0a0194;
    cursor: pointer;
}
.mobile-link a{
    color: white;
    font-size: 2rem;
    margin-top: 10%;
    text-decoration: none;
    transition: color 0.3s;
}
.mobile-link a:hover{
    cursor: pointer;
    color: #0a0194;
}
.mobile-subdivision-header{
    color: white;
    font-size: 2rem;
    margin-top: 10%;
    text-decoration: none;
    transition: color 0.3s;
}
.mobile-subdivision-header:hover{
    cursor: pointer;
    color: #0a0194;
}
/* Media query for collapsing the sidebar on mobile sizes */
@media (max-width: 768px) {
    .menu-icon{
        display: block;
    }
    /* Hide the desktop navbar and show the mobile sidebar */
    .navbar {
        display: none;
    }

    /* Show the mobile sidebar */
    .mobile-sidebar {
        width: 100%;
        background-color: #333;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Style for mobile links */
    .mobile-link {
        padding: 15px;
        text-decoration: none;
        color: #fff;
        transition: color 0.3s;
    }

    /* Hover effect for mobile links */
    .mobile-link:hover {
        color: #0a0194;
    }

    /* Style for the mobile Experience header */
    .subdivision-header {
        cursor: pointer;
        z-index: 1000;
        text-align: center;
        transition: color 0.3s;
    }

    /* Hide the mobile Experience header */
    .subdivision-header {
        display: none;
    }
}